@charset "UTF-8";
body {
  font-size: 14px;
  font-family: Arial;
  color: #404040; }

a {
  text-decoration: none;
  color: #000; }

a:hover {
  color: #f00; }

strong, em, b, i {
  font-weight: normal;
  font-style: normal; }

.header {
  width: 100%;
  font-size: 13px; }
  .header .tools {
    background: #f9f9f9; }
    .header .tools .wrapper {
      margin: 0 auto;
      width: 1200px;
      height: 34px; }
  .header .area {
    display: inline-block;
    padding-top: 2px;
    width: 85px;
    height: 26px;
    line-height: 34px;
    background: url(../img/head_sprite.png) no-repeat -10px -299px;
    cursor: pointer; }
    .header .area a {
      padding-top: 4px;
      height: 22px; }
    .header .area a:hover {
      color: #404040; }
  .header .welcome {
    display: inline-block;
    margin-left: 310px;
    color: #646464; }
    .header .welcome strong {
      cursor: pointer;
      color: red; }
    .header .welcome em {
      cursor: pointer; }
    .header .welcome em:hover {
      color: red; }
  .header .head_tools_nav {
    float: right;
    padding-top: 2px;
    height: 28px;
    over-flow: hidden; }
    .header .head_tools_nav li {
      float: left;
      padding-top: 4px;
      height: 24px;
      background: url(../img/head_sprite.png) no-repeat left -286px; }
      .header .head_tools_nav li a {
        display: inline-block;
        height: 21px;
        padding: 0 7px 0 8px;
        line-height: 21px; }
      .header .head_tools_nav li span {
        float: left;
        margin-right: 5px; }
    .header .head_tools_nav .shopcar {
      background: none;
      width: 80px; }
    .header .head_tools_nav .mydang a {
      padding: 0 25px 0 8px;
      background: url(../img/head_sprite.png) no-repeat -5px -307px; }
  .header .logoline {
    width: 100%; }
    .header .logoline .wrapper {
      margin: 0 auto;
      width: 1200px;
      overflow: hidden; }
    .header .logoline .wrapper > div {
      float: left; }
    .header .logoline .log {
      font-size: 0; }
  .header .searchbox {
    position: relative;
    margin-top: 20px;
    width: 566px;
    height: 40px;
    border: 2px solid #f00; }
    .header .searchbox form {
      display: inline-block; }
    .header .searchbox input[type=text] {
      width: 398px;
      height: 22px;
      margin: 8px 0px 8px 8px;
      border: none;
      font-size: 12px; }
    .header .searchbox .classify {
      position: absolute;
      left: 410px;
      width: 108px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      color: #969696;
      font-size: 16px;
      background: #f6f6f6;
      cursor: pointer; }
    .header .searchbox .searchbtn {
      position: absolute;
      left: 518px;
      width: 48px;
      height: 40px;
      cursor: pointer; }
      .header .searchbox .searchbtn span {
        position: absolute;
        width: 48px;
        height: 40px;
        left: -2px;
        top: -2px;
        background: url(../img/head_sprite.png) no-repeat 0px -346px; }
  .header .hot_search {
    margin-top: 6px;
    width: 200px;
    height: 20px;
    background: #ff0; }
  .header .logoline_right .car {
    margin: 24px 0 0 70px; }
    .header .logoline_right .car i {
      float: left;
      width: 107px;
      height: 38px;
      line-height: 38px;
      color: #fff;
      background: #f00;
      border: 1px solid #f00;
      border-right: none;
      cursor: pointer; }
    .header .logoline_right .car i:hover {
      color: #000;
      background: #f6f6f6;
      border-color: #ccc; }
      .header .logoline_right .car i:hover span {
        background: url(../img/icon_cart.png) no-repeat 0px -40px; }
    .header .logoline_right .car i span {
      float: left;
      width: 23px;
      height: 27px;
      margin: 2px 5px 0 15px;
      background: url(../img/icon_cart.png) no-repeat 0px -1px; }
    .header .logoline_right .car b {
      float: left;
      width: 86px;
      height: 38px;
      background: #f6f6f6;
      text-align: center;
      line-height: 36px;
      border: 1px solid #ccc;
      cursor: pointer; }
    .header .logoline_right .car b:hover {
      color: #f00; }
  .header .f_nav {
    border-bottom: 3px solid #ff2832; }
    .header .f_nav .wrapper {
      margin: 0 auto;
      width: 1200px;
      font-size: 14px; }
    .header .f_nav ul {
      position: relative;
      overflow: hidden; }
      .header .f_nav ul li {
        float: left;
        padding: 0 15px;
        height: 40px;
        text-align: center;
        font-weight: bolder;
        line-height: 40px; }
        .header .f_nav ul li a {
          display: block;
          height: 40px; }
        .header .f_nav ul li img {
          position: absolute;
          left: 508px;
          top: -2px; }
      .header .f_nav ul .lists {
        width: 165px;
        height: 40px;
        margin-right: 17px;
        text-align: left;
        background: #ff2832;
        padding-left: 20px; }
        .header .f_nav ul .lists a {
          display: block;
          line-height: 40px;
          color: #fff;
          background: url(../img/head_sprite.png) no-repeat 145px -567px; }

.main {
  background: url(../img/dang_bg-1527592840.png) no-repeat center top; }
  .main .wrapper {
    margin: 0 auto;
    width: 1200px;
    overflow: hidden; }
  .main .main_head_left {
    width: 200px;
    background: #fff;
    position: relative;
    float: left; }
  .main .list_content {
    padding: 4px 0; }
    .main .list_content .list_content_sort {
      position: relative;
      padding-left: 18px;
      height: 30px;
      font: 14px/30px "微软雅黑"; }
      .main .list_content .list_content_sort a:hover {
        text-decoration: underline; }
  .main .list_detail {
    position: absolute;
    left: 198px;
    top: 0px;
    width: 979px;
    background: #fff;
    padding-left: 18px;
    border: 2px solid #ff2832;
    font-size: 12px;
    display: none; }
    .main .list_detail a:hover {
      text-decoration: underline; }
  .main .nav_list {
    padding-top: 10px;
    overflow: hidden; }
    .main .nav_list a {
      position: relative;
      float: left;
      padding: 0 28px 0 8px;
      height: 20px;
      line-height: 20px;
      background: #a2a2a2;
      margin-right: 10px; }
    .main .nav_list span {
      position: absolute;
      right: 0;
      top: 0;
      width: 20px;
      height: 20px;
      background: url(../img/home_sprite_1511.png) no-repeat -72px -146px; }
  .main .rank_list {
    margin: 15px 0px 8px;
    position: relative; }
    .main .rank_list h4 {
      color: #ff2832; }
    .main .rank_list .rank_list_sort {
      position: absolute;
      height: 22px;
      padding-bottom: 5px;
      left: 80px;
      top: -1px; }
      .main .rank_list .rank_list_sort a {
        font-size: 13px;
        margin-right: 10px; }
  .main .list_sort li {
    position: relative;
    height: 22px;
    margin-left: 70px;
    padding: 7px 0 5px;
    line-height: 22px;
    border-top: 1px dotted #d5d5d5; }
    .main .list_sort li h4 {
      position: absolute;
      left: -70px;
      color: #ff2832; }
    .main .list_sort li div {
      height: 100%;
      margin-left: 1px;
      overflow: hidden; }
      .main .list_sort li div a {
        float: left;
        height: 100%;
        padding: 0 10px;
        background: url(../img/home_sprite_1511.png) no-repeat left -30px;
        margin-left: -1px; }
  .main .main_head_middle {
    float: left; }
  .main .lbbox {
    width: 796px;
    height: 487px;
    border-right: 1px solid #f00;
    border-bottom: 1px solid #f00;
    position: relative; }
  .main .lbbox .bigpic {
    position: absolute;
    left: 0;
    top: 0;
    width: 796px;
    height: 326px; }
  .main .lbbox .bigpic li {
    position: absolute;
    left: 0;
    top: 0;
    width: 796px;
    height: 326px; }
  .main .lbbox .bigpic li img {
    opacity: 0;
    z-index: 1; }
  .main .lbbox .spic {
    position: absolute;
    top: 326px;
    width: 796px;
    height: 160px; }
  .main .lbbox .spic li {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0; }
  .main .lbbox .spic li a {
    float: left;
    display: block;
    border-right: 1px solid #ccc;
    height: 161px; }
  .main .lbbox ol {
    position: absolute;
    left: 50%;
    margin-left: -104px;
    top: 300px; }
  .main .lbbox ol li {
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 6px;
    background-color: #646464;
    text-align: center;
    line-height: 20px;
    border-radius: 20px;
    cursor: pointer; }
  .main .lbbox .bleft,
  .main .bright {
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width: 33px;
    height: 70px;
    font-size: 36px;
    line-height: 70px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer; }
  .main .lbbox .bleft {
    left: -40px; }
  .main .lbbox .bright {
    left: 803px; }
  .main .lbbox .sleft,
  .main .sright {
    position: absolute;
    top: 50%;
    margin-top: -21px;
    width: 30px;
    height: 43px;
    font-size: 30px;
    line-height: 43px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer; }
  .main .lbbox .sleft {
    left: -40px; }
  .main .lbbox .sright {
    left: 803px; }
  .main .lbbox ol .active {
    background-color: #f00; }
